

      <div class="navbar">
        <div id="mySidepanel" class="sidepanel">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="#">MATCHES</a>
          <a href="#">TEAMS</a>
          <a href="#">SCORES</a>
          <a href="#">STATISTICS</a>
          <a href="#">PLAYERS</a>
        </div>
        <button id="mobile-nav-open" class="header-icon" onclick="openNav()">
          <img id="menu-svg" src="/images/menu_icon.svg">
        </button>  
        <script>
          function openNav() {
           document.getElementById("mySidepanel").style.width = "250px";
         }
         function closeNav() {
           document.getElementById("mySidepanel").style.width = "0";
         }
         </script> 

          <!-- <div class="navbar"> -->
                <div class="navbar-logo">
                    <img src="/images/Logo@2x.png" alt="" width="59" height="59">
                    <a href="#home" class="nav-item nav-button nav-wide"> Patras League </a>
                </div>
                
                <!-- <div class="nav-center-left">
                    <div class="navlink"><a class="matches" href="#matches"><span><i class="fa fa-futbol-o" aria-hidden="true"></i> MATCHES</span></a></div>
                    <div class="navlink"><a href="#teams"><i class="fa fa-users" aria-hidden="true"></i> TEAMS</a></div>
                    <div class="navlink"><a href="#scores"><i class="fa fa-th"></i> SCORES</a></div>
                    <div class="navlink"><a href="#statistics"><i class="fa fa-bar-chart" aria-hidden="true"></i> STATISTICS</a></div>
                    <div class="navlink"><a href="#"><i class="fa fa-user" aria-hidden="true"></i> PLAYERS</a></div>
                </div> -->
                <div class="nav-right">
                  <ul>
                    <li>
                      <button class="sign-in" id="signinbtn">
                        <a href="/logout">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-logout" width="50" height="50" 
                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" 
                            stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M7 12h14l-3 -3m0 6l3 -3" />
                            </svg>
                          <p><strong>Log out</strong></p>
                        </a>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
      <div class="requests-main ">
        <div style="display: flex;">
          <h1 style="color: rgb(255, 217, 0);">Manager Requests</h1>
          <br><br><br><br>
          <button class="denyall" style="margin: auto 0 auto auto; align-items: center; width: 10em;">Deny All</button>
        </div>
        <div>
          <!-- Οι βιβλιοθήκες που μπορείτε να επισκεφτείτε.<div class=""></div> -->
        </div>
        <hr>
        <!-- <br> -->
        <div class="requests"></div>
          
          <fieldset>
            <div class="request">
              <div>
                <h2>Submited from Γιώργος Δ.</h2>
                <h5 style="line-height: 0; margin-bottom: 3em;">Applied for manager at: <strong>26/3/2012</strong></h5>
                <h3>Official Team Name: <span class="address" style="font-size: medium;">Όνομα</span></h3>
                <h3>Organization Name: Όνομα&nbsp;</h3>
                <h3>District: Περιοχή&nbsp;</h3>
                <div style="display: flex;">
                  <h3>Comms:&nbsp;</h3>
                  <div style="display: grid;">
                    <h5><span class="phone" style="font-size: medium;">2610123456</span></h5>
                    <h5><span class="phone" style="font-size: medium;">6978945612</span></h5>
                    <h5><span class="phone" style="font-size: medium;">asd@gmail.com</span></h5>
                  </div>
                </div>
                <br>
                
              </div>
              <div style="display: grid; margin-left: auto; margin-right: 15%; align-items: center;">
                <button class="accept-btn" onclick=" ">ACCEPT</button>
                <button class="deny-btn">DENY </button>
              </div>
            </div>
          </fieldset>
          <br>
          <hr>
          <br>
          <fieldset>
            <div class="request">
              <div>
                <h2>Submited from Γιώργος Δ.</h2>
                <h5 style="line-height: 0; margin-bottom: 3em;">Applied for manager at: <strong>26/3/2012</strong></h5>
                <h3>Official Team Name: <span class="address" style="font-size: medium;">Όνομα</span></h3>
                <h3>Organization Name: Όνομα&nbsp;</h3>
                <h3>District: Περιοχή&nbsp;</h3>
                <div style="display: flex;">
                  <h3>Comms:&nbsp;</h3>
                  <div style="display: grid;">
                    <h5><span class="phone" style="font-size: medium;">2610123456</span></h5>
                    <h5><span class="phone" style="font-size: medium;">6978945612</span></h5>
                    <h5><span class="phone" style="font-size: medium;">asd@gmail.com</span></h5>
                  </div>
                </div>
                <br>
                
              </div>
              <div style="display: grid; margin-left: auto; margin-right: 15%; align-items: center;">
                <button class="accept-btn" onclick=" ">ACCEPT</button>
                <button class="deny-btn">DENY </button>
              </div>
            </div>
          </fieldset>
      </div>
  