
      {{!-- <script src="/js/navbar.js"></script> --}}
      
      {{!-- <div class="navbar"></div> --}}

      <div id="signinmodal" class="modal-sign"></div>

      <script src="/js/modalView.js"></script>
      <script src="/js/modalService.js"></script>
      
  

    <script src="/js/loginmodal.js"></script>

      
   
            
          
        <div class="svg-wrappp img1-small">
            <div class="img1 desk bg-svg"></div>
          </div>
          <div class="left-text-display">
            <span class="large-text" style="font-size:xxx-large; text-align: center;">Sign up below, register your team and have a shot at the prize.
        </span>
            </div>
            <div class="what-follows"></div>
          <div class="img1 desk img1-large"></div>
          
          
          <!-- <div class="img1m  mobile"></div> -->
        
        <!-- one team per manager. manager has to be verified for the team to be created -->
        <div style="z-index: 5;" class="stick">
            <div class="dsclbl">
              <h2>Sign up as a Team Manager</h2>
            </div>
          </div>
          <div class="svg-wrappp" style="z-index: 5; background: white;">
            <div class="img2 desk2 bg-svg"><br><br><br><h1>Team Manager</h1>
                <div class="manager-section">
                    <div class="manager-guide">Signing up as a team manager, means that you are managing a team that officialy belongs 
                        to the footbal organisation and that you can prove it with the proper paperwork. Not long after, the administrator
                        will approve of your authentication and your team can make it into the competitors list. 
                    </div><br>
                    <ul class="manager">As the Team Manager<br><br>
                        <li>You can create your own team</li>
                        <li>Manage your draft and positions in full scale</li>
                        <li>Change your team composition at any given time, for up to few days before your team's matches</li>
                        <li><br></li>
                        <li><a href="manager-register"><button>Sign Up</button></a></li>
                    </ul>
                </div>
            </div>
          </div>
  