


 <div id="signinmodal" class="modal-sign"></div>

      <script src="/js/modalView.js"></script>
      <script src="/js/modalService.js"></script>

      
<div class="scores-container">
    <div class="container-wrap">
	<section id="leaderboard">
		<nav class="ladder-nav">
			<div class="ladder-title">
			<h1>Patras League Leaderboard</h1>
			</div>
			<div class="ladder-search">
				<input type="text" id="search-leaderboard" class="live-search-box" placeholder="Search Team, Player..." />
			</div>
		</nav>
		<table id="rankings" class="leaderboard-results" width="100%">
			<thead>
				<tr>
					<th>Rank</th>
					<th>Team</th>
                    <th>Games Played</th>
					<th>Points</th>
				</tr>
			</thead>
			<tbody>
				<!-- Load SCRIMcom Leaderboard Ranings -->
		</tbody>
	</table>
</section>
</div>
</div>

<script src="js/scores.js"></script>