{{!-- {{#if aftersignup}}
        <div id="alert2" class="modal-sign2" style="display: block;">
            <div class="alert-content2 modal-sign-content2">
                <span id="close-sign-alert-index2" class="close-sign-alert2">&times;</span>
                <fieldset class="fldset">
                
                    <h2>You can now sign-in, create your team, as well as schedule scrimmages and practises in our
                        our facilities
                    </h2>
                
                    <button id="alert-btn-index1">OΚ</button>
                </fieldset>
            </div>
        </div>
        <script>
            const alertbtnclose = document.querySelector("#alert-btn-index1");
            alertbtnclose.onclick = () => {
            document.querySelector("#alert2").style.display = "none";}
        </script>
     {{/if}}

     {{#if mainpage}}
        {{> loggedinPartial partialContext}}
        {{/if}} --}}
    
          <p style="font-size:xxx-large; text-align: center;">
            <i class="fa-solid fa-circle-exclamation"></i>Notifications
          </p>
          <div style="text-align:center; font-weight:bolder; font-size:large">Bostons invited you to a scrimmage<br>
          Date: 02/20/2022 Time: 13:00-18:00<br>
        <div style="display:flex; justify-content:center; gap:3em"><p>Accept</p><p>Deny</p></div>
