body{
    background-color: black;
}

.side-nav{
    padding: 1em;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1em;
    /* background-color: black; */
    margin-bottom: 2em;
    display: grid;
    row-gap: 1.5em;
}

.admin-btn{
    display:block;
    width: 40%;
    height: 2em;
    font-size: 25px;
    text-align: center;
    background-color: whitesmoke;
    color: blue;
    border-radius: 8px;
    margin: 0 auto 0.5em auto;
    cursor: pointer;
    border: 3px solid royalblue;
    transition: all 0.1s ease;
    padding: 3px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    font-family: tahoma;
}


.admin-btn:hover{
    background-color: rgb(69, 69, 108);
    color: whitesmoke;
    border: 3px solid royalblue;
    box-shadow: 0px 7px 15px rgb(134, 97, 2);
    transform: translateY(-2px);
    outline: none;
}

.admin-btn:active {
    background-color: rgb(92, 92, 183);
    border-color: royalblue;
    transform: scale(0.99);
    outline: none;
}

.update-div{
    display: flex;
    justify-content: space-around;
    margin-left:10%;
}

form.mp-form {
    /* display: table; */
    width: 50%;
}
div.mp-form {
    display: table-row;
    width: 150%;
}
.mp-form input{
    padding: 0.2em;
    border: 4px solid rgb(88, 65, 7);
    border-radius: 8px;
    transition: all 0.1s ease;
}

.mp-form input:hover {
    border: 4px solid blue;
}

.mp-form input::placeholder {
    color: #31170bd2;
    transition: none;
}
.mp-form input:focus {
    border: 4px solid darkblue;
    outline: none; 
    box-shadow: 0 0 0 4px thistle;
    border-radius: 8px;
}
    
.mp-form input:focus::placeholder {
    color: rgba(0, 0, 0, 0.486);
}

.form-title{
    display:flex; 
    flex-direction: row; 
    align-items: center; 
    gap:1em;
}

.mp-form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "x x"
                        "a b"
                        "d d"
                        "c c";
    width: 32em;
}

.players-home{
    display: flex;
    flex-direction: column;
    grid-area: a;
}

.players-away{
    display: flex;
    flex-direction: column;
    grid-area: b;
}

.areac{
    grid-area: c;
    width: 10em;
    /* margin-right:33%; */
}
.aread{
    grid-area: d;
    width: 7em;
    height: 2em;
    background-color: rgb(228, 121, 39);
    color:rgb(5, 255, 34);
    /* margin-right:33%; */
}
select{
    grid-area:x;
    justify-self: center;
}

.update-div{
    margin-right:10%;
}